/* Fullscreen and overflow adjustments */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    overflow: hidden;
}

/* Fullscreen chat widget overlay */
.vfrc-chat--overlay {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Styling for the chat container */
.vfrc-chat {
    width: 80%; /* Or any other desired width */
    height: 80%;
    margin: 0 auto !important; /* Center in the page */
}

/* Styling for chat messages */
.vfrc-message {
    min-width: 100px !important; /* Minimum width of the bubble */
    max-width: 80% !important; /* Max width as a percentage of the chat container */
    padding: 12px 20px !important; /* Comfortable padding inside the bubble */
    font-size: 1rem !important; /* Appropriate font size for readability */
    margin: 10px 0 !important; /* Space between messages */
    word-wrap: break-word !important; /* Ensure long words wrap */
    display: flex !important;
    align-items: center !important; /* Vertically center the text in the bubble */
    justify-content: flex-start !important; /* Align to the start for the assistant's messages */
    box-sizing: border-box; /* Include padding and border in the width and height */
}

/* Style specifically for assistant messages */
.vfrc-system-response .vfrc-message {
    /* Styles for assistant's messages, if different from user messages */
    justify-content: flex-start !important;
}

/* Style specifically for user messages */
.vfrc-user-response .vfrc-message {
    /* Styles for user's messages, if different from assistant messages */
    justify-content: flex-end !important;
}

/* Responsive adjustments for medium screens */
@media screen and (max-width: 768px) {
    .vfrc-message {
        max-width: 90% !important; /* Increase max width on smaller screens */
    }
}

/* Responsive adjustments for very small screens */
@media screen and (max-width: 480px) {
    .vfrc-message {
        max-width: 95% !important; /* Nearly full width on very small screens */
        font-size: 0.9rem !important; /* Adjust font size if necessary */
        padding: 10px 15px !important; /* Adjust padding if necessary */
    }
}
