html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.vfrc-widget--chat {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    max-width: none !important;
    max-height: none !important;
}

.vfrc-message--chat {
    width: 90% !important; /* Makes the bubbles wider */
    padding: 12px 20px !important; /* Adds more space inside the bubbles */
    font-size: 1.1em !important; /* Increases the text size */
    margin-bottom: 12px !important; /* Adds more space between messages */
}
